body {
    background-color: #a886ce;
    padding: 30px;
    font-family: 'Jost', sans-serif;
}

.central-col {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-icon {
    max-width: 250px;
}

h1 {
    font-family: 'Cinzel', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 36px;
    text-align: center;
    line-height: 1.3;
}

h2 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 1.2;
}

.guesser {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.guesser h2 {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: none;
}

.letter-symbol-pair {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    margin-right: 5px;
    margin-bottom: 15px;
}

.letter-symbol-pair__symbol {
    width: 50px;
}

.letter-symbol-pair__letter-input {
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.letter-symbol-pair__spacer {
    width: 50px;
    margin-right: 5px;
}

.letter-symbol-pair__spacer:nth-child(3n) {
    flex-basis: 100%;
}

.instructions {
    max-width: 640px;
    margin: 0 auto;
}

a {
    color: #fffbe7;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: salmon;
}

.start-link {
    font-size: 24px;
    text-transform: uppercase;
}

li {
    margin-bottom: 1em;
}